/* color
******************************/
$col-base: #1d916e;
$col-main: #85ccb7;
$col-main-hover: #b4e7d7;
$col-accent: #d49426;
$col-accent-hover: #e1af5a;
$col-promotion-info: #CD853F;
$col-company-info: #4169E1;
$col-fiscal-info: #CD5C5C;
$col-white: #fff;
$col-gray: #f5f5f5;
$col-black: #000;
$col-red: #ff0000;

/* font
******************************/
$ft-catch_copy: 'Shippori Antique B1', sans-serif;

/* font-size
******************************/
$fs-pc-header-2: 3rem;
$fs-mb-header-2: 1.5rem;
$fs-pc-header-3: 1.5rem;
$fs-pc-gnav: 0.85rem;
$fs-pc-gnav-reservation: 1.5rem;
$fs-pc-catch_copy: 4rem;
$fs-mb-catch_copy: 3rem;
$fs-pc-category: 13px;
$fs-pc-figcaption: 13px;
$fs-pc-company-table-text: 1.25rem;
$fs-pc-company-access-text: 1.5rem;
$fs-copyright: 1rem;

/* border
******************************/
$bd-normal: 1px solid #000;
$bd-search-box: 1px solid #000;
$bd-company-table: 1px solid #707070;
$bd-mb-nav: 1px solid #fff;

/* shadow
******************************/
$sd-header: 0 2px 4px #00000026;
$sd-card: 0 10px 10px #0000004d;
$sd-catch_copy: #000 7px 5px 4px;

/* margin
******************************/
$mgbt-pc-title: 4.5rem;
$mgbt-pc-article: 4.5rem;
$mgbt-pc-conponents: 2rem;
$mgbt-pc-contents: 1rem;
$mgbt-pc-text: 0.5rem;

/* padding
******************************/
$pd-pc-title: 56px;
$pd-pc-article: 56px;

/* size
******************************/
$wd-pc-contents: 1024px;
$wd-pc-company-table: 200px;

$hi-header: 50px;
$hi-hero-concept: 225px;
$hi-search-box: 50px;

$wdhi-accordion-arrow: 1rem;